<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>TWITTERDESIGNER_FOOTERTEXT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitterDesigner</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Hayden Hunter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>TWITTERIDEA_FOOTERTEXT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitterIdea</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>ReddestDream ^_^</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>TWITTERBETATESTER_FOOTERTEXT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitterBetaTester</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>George Taylor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>TWITTERHELP1_FOOTERTEXT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitterHelp1</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Logan O'Connell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>TWITTERHELP2_FOOTERTEXT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitterHelp2</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Riley Durant</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>REDDITJAILBREAKDEVELOPERS_FOOTERTEXT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>redditJailbreakDevelopers</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>reddit.png</string>
			<key>label</key>
			<string>/r/jailbreakdevelopers</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>REDDITJAILBREAK_FOOTERTEXT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>redditJailbreak</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>reddit.png</string>
			<key>label</key>
			<string>/r/jailbreak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>TRANSLATORS</string>
			<key>detail</key>
			<string>Translators</string>
		</dict>
	</array>
	<key>title</key>
	<string>TITLE_CREDITSPAGE</string>
</dict>
</plist>
